{% extends 'base.html.twig' %}

{% block title %}{{ folder.title }}{% endblock %}

{% block body %}
    <div id="file--drop-zone">
        Déplacez le fichier ici pour le sauvegarder.
    </div>
    <div class="file--uploads">
    </div>
{% block javascripts %}
    <script src="{{ asset('js/folderApp.js') }}"></script>
{% endblock %}
{% endblock %}
