.folder-page--container,
.container
{
    width: 80%;
    margin: auto;
}
.fa-arrows-alt
{
    cursor: move;
}

i
{
    margin: 0 5px;
}
.project-status--card
{
    padding: 5px;
    margin-bottom: 10px;
}

.task--list-item,
.project--list-item
{
    margin: 10px;
    border: solid white 4px;
}

.user-list
{
    position: fixed;
    top: 0;
    right: 0;
}

.input--title:read-only,
.input--description:read-only
{
    border: none;
}

.input--title
{
    width: 12rem;
}

.input--description
{
    width: 22rem;
}

.task--list-form,
.project--list-form
{
    display: inline;
}

.button--edit-task,
.button--edit-project,
.fa-eye
{
    cursor: pointer;
}

.fa-eye
{
    color: black;
}

.fa-eye:hover
{
    color: blue;
}

.input--submit-project-change
{
    cursor: pointer;
}

.hidden
{
    display: none;
}

.hold
{
    border: solid #ccc 4px;
    opacity: 0.5;
}

.hovered
{
    background-color: lightgreen;
}

.row
{
    display: flex;
    flex-direction: row;
}

.column
{
    width: 33%;
}

.newProject
{
    margin-top: 20px;
}

.taskUser
{
    width: 10rem;
}

.fa-trash-alt
{
    color: red;
    cursor: pointer;
}

.user--row
{
    display: flex;
    flex-direction: row;
}

.user--column
{
    width: 33%;
    padding: 10px;
}

.navigation--bar
{
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.navigation--item
{
    margin: 10px;
    text-transform: uppercase;
}

#file--drop-zone
{
    width: 300px;
    height: 300px;
    border: 2px dashed #ccc;
    color: #ccc;
    line-height: 300px;
    text-align: center;
    margin-left: auto;
}

#file--drop-zone.dragover
{
    border-color: #000;
    color: #000;
}

.folder-page--container
{
    display: flex;
    flex-direction: row;
}

.file--drop-zone,
.file--uploads
{
    width: 50%;
}

.file--uploads
{
    display: flex;
    flex-direction: column;
}

.file--single-line
{
    margin: 0.5rem 0;
}

.page--title
{
    text-align: center;
    text-transform: uppercase;
}

.folder--single-line
{
    text-decoration: none;
    color: #000;
}
.folder--single-line:hover
{
    text-decoration: underline;
}

.folder--icon {
    margin-top: 50px;
    margin-left: 50px;
    width: 150px;
    height: 105px;
    position: relative;
    background-color: #f8c327;
    border-radius: 0 6px 6px 6px;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.59);
    text-align: center;

}

.folder--icon:before {
    content: '';
    width: 50%;
    height: 12px;
    border-radius: 0 20px 0 0;
    background-color: #f8c327;
    position: absolute;
    top: -12px;
    left: 0px;
}

.folder--container
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.folder--delete-form
{
    display: inline;
}

.folder--delete-form > input
{
    display: none;
}