.container
{
    width: 80%;
    margin: auto;
}
.fa-arrows-alt
{
    cursor: move;
}

i
{
    margin: 0 5px;
}
.project-status--card
{
    padding: 5px;
    margin-bottom: 10px;
    width: 50%;
}

.task--list-item,
.project--list-item
{
    width: 50%;
    margin: 10px;
    border: solid white 4px;
}

.user-list
{
    position: fixed;
    top: 0;
    right: 0;
}

.input--title:read-only,
.input--description:read-only
{
    border: none;
}

.input--title
{
    width: 12rem;
}

.input--description
{
    width: 22rem;
}

.task--list-form,
.project--list-form
{
    display: inline;
}

.button--edit-task,
.button--edit-project,
.fa-eye
{
    cursor: pointer;
}

.fa-eye
{
    color: black;
}

.fa-eye:hover
{
    color: blue;
}

.input--submit-project-change
{
    cursor: pointer;
}

.hidden
{
    display: none;
}

.hold
{
    border: solid #ccc 4px;
    opacity: 0.5;
}

.hovered
{
    background-color: lightgreen;
}

.row
{
    display: flex;
    flex-direction: row;
}

.column
{
    width: 33%;
}

.newProject
{
    margin-top: 20px;
}

.taskUser
{
    width: 10rem;
}

.fa-trash-alt
{
    color: red;
    cursor: pointer;
}