.project-status--card
{
    padding: 5px;
    margin-bottom: 10px;
    width: 600px;
}

.drag-and-drop--landing
{
    width: 600px;
    height: 40px;
    background-color: aquamarine;
    margin-left: 20px;
    margin-bottom: 20px;
}

.user-list
{
    position: fixed;
    top: 0;
    right: 0;
}

.input--title:read-only,
.input--description:read-only
{
    border: none;
}

.input--description
{
    width: 23rem;
}

.project--list-form
{
    display: inline;
}

.button--edit-project
{
    cursor: pointer;
}

.input--submit-project-change
{
    cursor: pointer;
}

.hidden
{
    display: none;
}