<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <script src="https://kit.fontawesome.com/39342e49a2.js" crossorigin="anonymous"></script>
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% endblock %}
    </head>
    <body>
    <nav class="navigation--bar">
        <a class="navigation--item" href="{{ path('home') }}">Projets</a>
        <a class="navigation--item" href="{{ path('user_index') }}">Equipe</i></a>
    </nav>
        {% block body %}{% endblock %}
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        {% block javascripts %}
        {% endblock %}
    </body>
</html>